{% extends 'layout.html' %}

{% block content %}
    <div class="timeline">
      {% if user %}
        <div>
          <form id="twit-form" action="/post" method="post" enctype="multipart/form-data">
            <div class="input-group">
              <textarea id="twit" name="content" maxlength="140"></textarea>
            </div>
            <div class="img-preview">
              <img id="img-preview" src="" style="display: none;" width="250" alt="미리보기">
              <input id="img-url" type="hidden" name="url">
            </div>
            <div>
              <label id="img-label" for="img">사진 업로드</label>
              <input id="img" type="file" accept="image/*">
              <button id="twit-btn" type="submit" class="btn">짹짹</button>
            </div>
          </form>
        </div>
      {% endif %}
      <div class="twits">
        <form id="hashtag-form" action="/hashtag">
          <input type="text" name="hashtag" placeholder="태그 검색">
          <button class="btn">검색</button>
        </form>
        {% for twit in twits %}
          <div class="twit">
            <input type="hidden" value="{{twit.User.id}}" class="twit-user-id">
            <input type="hidden" value="{{twit.id}}" class="twit-id">
            <div class="twit-author">{{twit.User.nick}}</div>
            {% if user.id === twit.User.id %}
              <button class = "twit-delete">삭제</button>
              <button class = "twit-edit">수정</button>
            {% elif not followerIdList.includes(twit.User.id) and twit.User.id !== user.id %}
              <button class="twit-follow">팔로우하기</button>
            {% elif followerIdList.includes(twit.User.id) and twit.User.id !== user.id %}
              <button class="twit-follow-cancle">팔로잉끊기</button>
            {% endif %}

            <div class="twit-content">{{twit.content}}</div>
            
            {% if twit.img %}
              <div class="twit-img"><img src="{{twit.img}}" alt="섬네일"></div>
            {% endif %}

            {% if not likerIdList.includes(twit.User.id) %}
              <button class="twit-like">좋아요</button>
            {% elif likerIdList.includes(twit.id) %}
                <button class="twit-likeCancle">좋아요 취소</button>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}

{% block script %}
  <script>
    if (document.getElementById('img')) {
      document.getElementById('img').addEventListener('change', function(e) {
        const formData = new FormData();
        console.log(this, this.files);
        formData.append('img', this.files[0]);
        axios.post('/post/img', formData)
          .then((res) => {
            document.getElementById('img-url').value = res.data.url;
            document.getElementById('img-preview').src = res.data.url;
            document.getElementById('img-preview').style.display = 'inline';
          })
          .catch((err) => {
            console.error(err);
          });
      });
    }

    document.querySelectorAll('.twit-like').forEach(function(tag) {
      tag.addEventListener('click', function() {
        var isLoggedIn = document.querySelector('#my-id');
        const twitId = tag.parentNode.querySelector('.twit-id').value;
        if (isLoggedIn) {
          if (confirm('좋아요를 누르시겠습니까?')) {
            axios.post(`/user/${twitId}/like`)
                .then(() => {
                  location.reload();
                })
                .catch((err) => {
                  console.error(err);
                });
          }
        }
      });
    });

    document.querySelectorAll('.twit-likeCancle').forEach(function(tag) {
      tag.addEventListener('click', function() {
        var isLoggedIn = document.querySelector('#my-id');
        const twitId = tag.parentNode.querySelector('.twit-id').value;
          if(isLoggedIn){
              if(confirm('좋아요를 취소하시겠습니까?')){
                axios.d(`/user/${twitId}/like`)
                .then(() => {
                  location.reload();
                })
                .catch((err) => {
                  console.error(err);
                });
                  var xhr = new XMLHttpRequest();
                  xhr.onload = function(){
                      if(xhr.status==200){
                          location.reload();
                      }else{
                          console.error(xhr.responseText);
                      }
                  };
                  xhr.open('POST','/user/'+twitId+'/likeCancle');
                  xhr.send();
              }
          }
      });
    });

    document.querySelectorAll('.twit-follow').forEach(function(tag) {
      tag.addEventListener('click', function() {
        const myId = document.querySelector('#my-id');
        if (myId) {
          const userId = tag.parentNode.querySelector('.twit-user-id').value;
          if (userId !== myId.value) {
            if (confirm('팔로잉하시겠습니까?')) {
              axios.post(`/user/${userId}/follow`)
                .then(() => {
                  location.reload();
                })
                .catch((err) => {
                  console.error(err);
                });
            }
          }
        }
      });
    });

    document.querySelectorAll('.twit-follow-cancle').forEach(function(tag){
      tag.addEventListener('click',function(){
          var isLoggedIn = document.querySelector('#my-id');
          if(isLoggedIn){
              // var userId = tag.parentNode.querySelector('.fingNick').innerHTML;
              var userId = tag.parentNode.querySelector('.twit-user-id').value;
              var myId = isLoggedIn.value;
              if(userId != myId){
                  if(confirm('팔로우를 끊겠습니까?')){
                      var xhr = new XMLHttpRequest();
                      xhr.onload = function(){
                          if(xhr.status==200){
                              location.reload();
                          }else{
                              console.error(xhr.responseText);
                          }
                      };
                      xhr.open('POST','/user/'+userId+'/followCancle');
                      xhr.send();
                  }
              }
          }
      });
  });

    document.querySelectorAll('.twit-delete').forEach(function(tag) {
      tag.addEventListener('click', function() {
        if (confirm('게시물을 삭제하시겠습니까?')) {
          const twitId = document.querySelector('.twit-id').value;
          axios.post(`/user/${twitId}/delete`)
            .then(() => {
              location.reload();
            })
            .catch((err) => {
              console.error(err);
            });
        }
      });
    });

    
    document.getElementById('Edit').addEventListener('click',function(){
        const newText = prompt('내용을 수정하시겠습니까?');
        if(newText){
          var xhr = new XMLHttpRequest();
          xhr.onload = function(){
            if(xhr.status == 200){
              location.reload();
            }else{
              console.error(xhr.responseText);
            }
          }
          xhr.open('PATCH','/post/'+newText);
          xhr.send();
        }
      });
      window.onload = () => {
        if (new URL(location.href).searchParams.get('loginError')) {
          alert(new URL(location.href).searchParams.get('loginError'));
        }
      };

  </script>
{% endblock %}